html, body{
    float: center;
	margin:0 !important;
	padding: 0 !important;
    text-align:left !important;
    overflow-x: hidden;
    height: 100%;
    
}

html{
	font-size: 12px; 
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 80%;	
}

.heading{
    background-color: #333333;
    border:1px solid;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    -moz-border-bottom-left-radius: 15px;
    -moz-border-bottom-right-radius: 15px;
    position: relative;
    -moz-box-shadow: 2px 2px 5px black;
    -webkit-box-shadow: 2px 2px 5px black;
    box-shadow: 2px 2px 5px black;
    display:block;
}

.title{
    height: 11em;
}

.clouch{
    display:inline-block; 
    position:absolute;
    bottom:0;
    padding-bottom:2em;
    padding-left: 5em;
}

#bold-heading{
    font-family:'Lato', sans-serif;
    font-size: 6.5em;
    font-weight: 700;
    color: #69CBC5;
}

#sub-heading{
    font-family:'Lato', sans-serif;
    font-size: .5em;
    font-weight: 200;
    font-style:italic;
    color: #FFFFFF;
}

.download a{
    background-color: #69CBC5;
    display:inline-block;
    position:absolute;
    bottom:0;
    margin-bottom:.55em;
    height:1.2em;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
    -moz-border-bottom-left-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
}

.download a{
	text-decoration: none;
    font-size:2.5em;
    width:12em;
    right: 0;
}

.download a:hover{
    color: #FFFFFF;
}

#download-text{
	color: #333333;
    font-family:'Lato', sans-serif;
	font-size: .7em;
    line-height:1.75em;
    position:absolute;
    padding-left: .7em;
}

i.ss-icon{
	color: #333333;
	font-size: 1em;
    line-height:1.45em;
    padding-left:20px;
}

.information{
    padding-bottom: 45px;
    padding-top: 10px;
    background-image:url('assets/img/003-subtle-light-pattern.jpg');
    background-repeat:repeat;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.information-box{
    background-color: white;
    opacity:.8;
    border-radius:15px;
    -moz-border-radius: 15px;
    padding: 2.5em;
    margin-top: 1.5em;
}

#information-heading{
    font-family:'Lato', sans-serif;
    font-size: 2.5em;
    font-style: bold;
    color: #69CBC5;
    padding-top: .4em;
}

#information-text{
    font-family:'Lato', sans-serif;
    font-size: 1.5em;
    color: #333333;
    padding-top: .4em;
}

.footer {
    background-color: #333333;
    font-family:'Lato', sans-serif;
    font-size: 1.1em;
    font-style: bold;
    color: #69CBC5;
    padding-top: .4em;
    padding-right: 30px;
    padding-left: 30px;
    text-align: right;
    bottom: 0 !important;
}

.footer a{
    color: #69CBC5;
}

.footer a:hover{
    color: white;
    text-decoration:none;
}

/* Large desktop */
@media (min-width: 1200px) { 	
    .information{
        margin-left: 1em !important;
        margin-right: 1em !important;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    .information{
        margin-left: 1em !important;
        margin-right: 1em !important;
	} 
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .information{
        margin-left: 1em !important;
        margin-right: 1em !important;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    .information{
        margin-left: 1em !important;
        margin-right: 1em !important;
	}
}

